CREATE DATABASE [db_WSS_BHMAP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_WSS_BHMAP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\db_WSS_BHMAP.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_WSS_BHMAP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\db_WSS_BHMAP_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [db_WSS_BHMAP]
GO
USE [db_WSS_BHMAP]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [db_WSS_BHMAP] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
